
@{
    ViewData["Title"] = "SearchView";
}


<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <input type="text" />
        <button type="submit" onclick='@Url.Action("Search")'>Search</button>
        <h2>Results</h2>

        <ul>
            <li>la la la</li>
            <li>bla bla bla</li>
        </ul>
    </div>
</div>





