
@{
    ViewData["Title"] = "SearchView";
}


<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <input type="text" />
        <input type="button" value="Search" onclick="location.href='@Url.Action("Search", "Home")'" />
        <h2>Results</h2>

        <ul>
            <li>la la la</li>
            <li>bla bla bla</li>
        </ul>
    </div>
</div>





